.mainChat{
text-align: center;
font-size: 50px;
padding: 0;
    margin: 0;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#app{
    text-align: center;
    padding: 0;
    margin: 0;
}
.mainChat img{
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: black;
    
    border-radius: .5rem;
}

#send{
    height:10vh;
    text-align: center;
    background-color: aliceblue;
    position:sticky;
    bottom: 0%;
    border-radius: .5rem;
}
.msg{
    
    background-color: whitesmoke;
}
#msg2{
    
    margin: 15px;
    border-radius: .5rem;
}
#msg3{
    display: inline-flex;
    
}
#userName{
    font-size: 20px;
    font-weight: bold;
}